

.textform1:focus{
    background-color: darkslategrey;
    color: white;
    width: 100%;
}

.textform2:focus{
    background-color: darkslategrey;
    color: white;
    width: 100%;
}

.textform1{
    height: 150px !important;         
   border-top-color: lightblue;
   border-bottom-color: red;
  border-inline-start-color: greenyellow;
  border-inline-end-color: rebeccapurple;
  font-family: 'Inconsolata', monospace;
  padding: 5px;
}

.textform2{
    height: 150px !important;
   border-top-color: lightblue;
   border-bottom-color: red;
  border-inline-start-color: greenyellow;
  border-inline-end-color: rebeccapurple;
  font-family: 'Inconsolata', monospace;
  padding: 5px;
}
#copy{
    display: none;
    font-family: 'Inconsolata', monospace;
    animation: ani 0.7s 1;
}
@keyframes ani{
    10%{
        transform: translate(10px);
    }
    20%{
        transform: translate(-10px);
    }
    30%{
        transform: translate(10px);
    }
    40%{
        transform: translate(-10px);
    }
    50%{
        transform: translate(10px);
    }
    60%{
        transform: translate(-10px);
    }
    70%{
        transform: translate(10px);
    }
    80%{
        transform: translate(-10px);
    }
    90%{
        transform: translate(10px);
    }
    100%{
        transform: translate(-10px);
    }
}

